@model Lab01.Ex02.WebMVCR1.Models.PersonRepository

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListPerson</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
